
.playerStatus {
    position: fix;
    border: 1px dotted rgb(218, 23, 23);
    margin: 10px auto;
    border-radius: 8px;
    overflow: hidden;
}

.healthStatus {
    display: inline-block;
    background-color: greenyellow;
    border: 1px solid blueviolet;
    padding: 10px;
}

.level {
    display: inline-block;
    background-color: rgb(220, 223, 45);
    border: 1px solid blueviolet;
    padding: 10px;
}

.weapon {
    display: inline-block;
    background-color: rgb(223, 45, 119);
    border: 1px solid blueviolet;
    padding: 10px;
}

.xp {
    display: inline-block;
    background-color: rgb(45, 158, 223);
    border: 1px solid blueviolet;
    padding: 10px;
}